@model Where2Study.Models.fakultet

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>fakultet</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_grad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_grad)
            @Html.ValidationMessageFor(model => model.id_grad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.adresa_fakulteta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.adresa_fakulteta)
            @Html.ValidationMessageFor(model => model.adresa_fakulteta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.broj_telefona)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.broj_telefona)
            @Html.ValidationMessageFor(model => model.broj_telefona)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_sveuciliste)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_sveuciliste)
            @Html.ValidationMessageFor(model => model.id_sveuciliste)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.web)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.web)
            @Html.ValidationMessageFor(model => model.web)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.slika)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.slika)
            @Html.ValidationMessageFor(model => model.slika)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@* @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} *@
