@model Where2Study.Models.FacultyInput

 @*Ovo je potrebno za autosuggest.*@
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

@{
    ViewBag.Title = "CreateFaculty";
}

<h2>@Resources.Resources.EnterFaculty</h2>
<h3>@Resources.Resources.EntryLanguage</h3>

@using (Html.BeginForm("CreateFaculty", "CRUD", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Resources.Resources.FacultyTitle</legend>

        
        <b class="editor-label">
            @Html.LabelFor(model => model.Continent)
        </b>
        <div class="editor-field">
            @Html.EditorFor(model => model.Continent)
            @Html.ValidationMessageFor(model => model.Continent)
        </div>
        <b class="editor-label">
            @Html.LabelFor(model => model.Country)
        </b>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>
        <b class="editor-label">
            @Html.LabelFor(model => model.City)
        </b>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
        <b class="editor-label">
            @Html.LabelFor(model => model.University)
        </b>
        <div class="editor-field">
            @Html.EditorFor(model => model.University)
            @Html.ValidationMessageFor(model => model.University)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Phone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WebSite)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WebSite)
                @Html.ValidationMessageFor(model => model.WebSite)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Photo)
            </div>
            <div class="editor-field">
                <input type="file" id="Photo" name="Photo" />
                @Html.ValidationMessageFor(model => model.Photo)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
</fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

<script>

    $(document).ready(function () {
        @*var Continents = [];
        var Countries = [];
        var Cities = [];
        var Universities = [];
        @*var Faculties = [];*@

        $.ajax({
            url: "getContinents",
            dataType: "json"
        })
        .done(function (msg) {
            Continents = msg;
            $("#Continent").autocomplete({
                minLength: 0,
                source: Continents
            }).focus(function () {
                $(this).autocomplete("search", $(this).val());
            });
        });

        $.ajax({
            url: "getCountries",
            dataType: "json"
        })
        .done(function (msg) {
            Countries = msg;
            $("#Country").autocomplete({
                minLength: 0,
                source: Countries
            }).focus(function () {
                $(this).autocomplete("search", $(this).val());
            });
        });

        $.ajax({
            url: "getCities",
            dataType: "json"
        })
                .done(function (msg) {
                    Cities = msg;
                    $("#City").autocomplete({
                        minLength: 0,
                        source: Cities
                    }).focus(function () {
                        $(this).autocomplete("search", $(this).val());
                    });
                });

        $.ajax({
            url: "getUniversities",
            dataType: "json"
        })
                .done(function (msg) {
                    Universities = msg;
                    $("#University").autocomplete({
                        minLength: 0,
                        source: Universities
                    }).focus(function () {
                        $(this).autocomplete("search", $(this).val());
                    });
                });

        $.ajax({
            url: "getFaculties",
            dataType: "json"
        })
               .done(function (msg) {
                   Faculties = msg;
                   $("#Faculty").autocomplete({
                       minLength: 0,
                       source: Faculties
                   }).focus(function () {
                       $(this).autocomplete("search", $(this).val());
                   });
               });

        $("#Continent").on("autocompletechange", function () {
            $.ajax({
                url: "getCountries/" + $("#Continent").val(),
                dataType: "json"
            })
           .done(function (msg) {
               Countries = msg;
               $("#Country").autocomplete({
                   minLength: 0,
                   source: Countries
               }).focus(function () {
                   $(this).autocomplete("search", $(this).val());
               });
           });
        });

        $("#Country").on("autocompletechange", function () {
            $.ajax({
                url: "getCities/" + $("#Country").val(),
                dataType: "json"
            })
            .done(function (msg) {
                Cities = msg;
                $("#City").autocomplete({
                    minLength: 0,
                    source: Cities
                }).focus(function () {
                    $(this).autocomplete("search", $(this).val());
                });
            });
        });

        $("#City").on("autocompletechange", function () {
            $.ajax({
                url: "getUniversities/" + $("#City").val(),
                dataType: "json"
            })
            .done(function (msg) {
                Universities = msg;
                $("#University").autocomplete({
                    minLength: 0,
                    source: Universities
                }).focus(function () {
                    $(this).autocomplete("search", $(this).val());
                });
            });
        });
        $("#City").on("autocompletechange", function () {
            $.ajax({
                url: "getFaculties/" + $("#City").val(),
                dataType: "json"
            })
            .done(function (msg) {
                Faculties = msg;
                $("#Title").autocomplete({
                    minLength: 0,
                    source: Faculties
                }).focus(function () {
                    $(this).autocomplete("search", $(this).val());
                });
            });
        });
    });
</script>