@model IEnumerable<Where2Study.Models.Faculty>

@{
    ViewBag.Title = "Index";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}


<!--<h2>@Resources.Resources.Instructions</h2>-->
 <div class="container">
        <div id="header" class="row">
            <div class="col-lg-3 hidden-sm hidden-xs">
                <img id="logo" src="/content/Images/w2s_logo.png">
            </div>
            <div class="col-lg-8 header-part">
                <h2>@Resources.Resources.Welcome</h2>
                <h4>@Resources.Resources.Instructions</h4> 
            </div>
        </div>
    </div>
<div class="container">
    <div class="col-md-6">
       
        <br /><br /><br /><br /><br /><br /><br />

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="custom-search-input">
                    <div class="col-md-12">
                        <form method="get" action="/Menu/Search">
                         <div class="input-group">
                                <input type="text" class="form-control input-lg" name="q" placeholder="@Resources.Resources.Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="col-md-6" style="margin-bottom:100px;min-height:500px;">
            <div id="carousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @{
                        var i = 0;
                        foreach (var item in Model)
                        {
                            var itemClass = i++ == 0 ? "item active" : "item";
                            <div class="@itemClass">                                
                                <h4 class="text-center">@item.University <br />@item.Title</h4>
                                 <a href="~/Menu/Details?city=@item.City&faculty=@item.Title">
                                    <img class="center-block" src="/content/Images/Slike/@item.Photo" alt="@item.Title" style="width:400px;">
                                </a>
</div>
                        }
                    }
                </div>
            </div>
        </div>
</div>  

<script>$('.carousel').carousel({
    interval: 4000
})</script>