@model Where2Study.Models.sveuciliste

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>sveuciliste</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_grad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_grad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adresa_sveucilista)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adresa_sveucilista)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.broj_telefona)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.broj_telefona)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.web)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.web)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
