@model Where2Study.Models.smjer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>smjer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_fakultet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_fakultet)
            @Html.ValidationMessageFor(model => model.id_fakultet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_stupanj)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_stupanj)
            @Html.ValidationMessageFor(model => model.id_stupanj)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
