@model IEnumerable<Where2Study.Models.grad_tekst>

@{
    ViewBag.Title = "Cities";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>@Resources.Resources.BrowseCities</h3>
        </div>
    </div>
</div>
@if (@Model.Count() != 0)
{
      <p>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    @Resources.Resources.SelectFrom @Model.Count() @Resources.Resources.cities:
                </div>
            </div>
        </div>
      </p>
}


<div class="container">
    <div class="row">
       
            @foreach (var item in Model)
            {
                <div class="col-lg-3 center-block">
                   <input type="button"class="btn btn-primary btn-lg" style="margin:0.27em;width:100%;" title=item.naziv value=@item.naziv onclick="location.href='@Url.Action("Faculties", "Menu", new { city = item.naziv })'" />
              @*  <li><a button type="button" class="btn btn-primary btn-lg" style="margin:0.27em;width:100%;"></a> <a href="~/Views/Menu/Faculties"></> @Html.ActionLink(item.naziv, "Faculties", new { city = item.naziv })</a></li>*@
                </div>
            }

        </div>
    <br />
    </div>
        



