@model IEnumerable<Where2Study.Models.grad_tekst>

@{
    ViewBag.Title = "Cities";
}

<h3>@Resources.Resources.BrowseCities</h3>

@if(@Model.Count()!=0){
<p>
    @Resources.Resources.SelectFrom @Model.Count() @Resources.Resources.cities:
</p>}

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.naziv, "Faculties", new {city=item.naziv})</li>
    }
</ul>



