@model IEnumerable<Where2Study.Models.Faculty>
@using Where2Study.Models
@{
    ViewBag.Title = "Details";
}

<h2> @Html.DisplayNameFor(model => model.Title)</h2>

<div class="col-md-6">

<fieldset>
    @foreach (var item in Model) {
    <legend>@Html.DisplayFor(modelItem => item.Title)</legend>
    
    @* <div class="display-label">id_fakultet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_fakultet)
    </div>

    <div class="display-label">id_jezik</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_jezik)
    </div> *@

    <div><img src="/content/Images/Slike/@item.Photo" alt="@item.Title" style="width:460px;height:auto"></div>
   @*<div class="text-box.multi-line">@Html.TextAreaFor(modelItem => item.Description, new { @readonly = true })</div>*@
     <pre id="preFormating">@Html.DisplayFor(modelItem => item.Description)</pre>
    <div class="display-field">
        @Html.DisplayNameFor(model => model.Address):
        @Html.DisplayFor(modelItem => item.Address)<br />
        @Html.DisplayNameFor(model => model.Phone):
        @Html.DisplayFor(modelItem => item.Phone)<br />
        @Html.DisplayNameFor(model => model.WebSite):
        <a href="http:/@item.WebSite">@Html.DisplayFor(modelItem => item.WebSite)</a><br />
        @Html.DisplayNameFor(model => model.City):
        @Html.DisplayFor(modelItem => item.City)<br />
        @Html.DisplayNameFor(model => model.Country):
        @Html.DisplayFor(modelItem => item.Country)<br />
            @Html.ActionLink("Smjerovi", "DegSpecDetails", new {city=item.City, faculty=item.Title})<br />
       

    </div>
        
        
       //Where2Study.Models.DegreeSpecialization dsm = new Where2Study.Models.DegreeSpecialization();
       //var model1= dsm.DegSpecDetails(item.Title);
              //  @Html.Partial("DegSpecDetails", Model.partialModel)
               
  @*<div>
       
   @Html.DisplayNameFor(model => dsm.Degree):
   </div>
     
   foreach (var it in model1) {
            <div class="display-field">
                @Html.DisplayFor(model1.Degree): 
                @Html.DisplayFor(it.Specialization)<br />
            </div>
    }*@                     
    }
    
</fieldset>
</div>
<div class="col-md-6">

<h2>Smjerovi</h2>

    <h4>Stručni:</h4>
@foreach (var item in Model) {
        if (item.Specializations == 1){<div>- @Html.DisplayFor(modelItem => item.Specializations) (@Html.DisplayFor(modelItem => item.Duration) sem.)</div>}
}
    <h4>Preddiplomski:</h4>
@foreach (var item in Model) {
        if (item.Id == 2){<div>- @Html.DisplayFor(modelItem => item.Specialization) (@Html.DisplayFor(modelItem => item.Duration) sem.)</div>}
}
    <h4>Diplomski:</h4>
@foreach (var item in Model) {
        if (item.Id == 3){<div>- @Html.DisplayFor(modelItem => item.Specialization) (@Html.DisplayFor(modelItem => item.Duration) sem.)</div>}
}
    <h4>Poslijediplomski specijalistički:</h4>
@foreach (var item in Model) {
        if (item.Id == 4){<div>- @Html.DisplayFor(modelItem => item.Specialization) (@Html.DisplayFor(modelItem => item.Duration) sem.)</div>}
}
    <h4>Poslijediplomski doktorski:</h4>
@foreach (var item in Model) {
        if (item.Id == 5){<div>- @Html.DisplayFor(modelItem => item.Specialization) (@Html.DisplayFor(modelItem => item.Duration) sem.)</div>}        
}
        </div>

<p>

    @Html.ActionLink("Back to List", "Index")

</p>


