
@* @model IEnumerable<Where2Study.Models.fakultet_tekst> *@
@model System.Collections.Generic.IEnumerable<Where2Study.Models.Faculty>
@* @model System.Data.Linq.DataQuery<Where2Study.Models.Faculty> *@
@{
    ViewBag.Title = "Faculties";
}

<h3>Browse Faculties</h3>

<p>
    Select from @Model.Count() faculties:
</p>
<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Title, "Details", new {faculty=item.Title})</li>
    }
</ul>
<!-- <p>
    @Html.ActionLink("Create New", "Create")
</p>
 <table>
    <tr>
        <th>
            id_fakultet
        </th>
        <th>
            id_jezik
        </th>
        <th>
            tekst
        </th>
        <th></th>
    </tr>

@* @foreach (var fakultet_tekst in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => fakultet_tekst.id_fakultet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => fakultet_tekst.id_jezik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => fakultet_tekst.tekst)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}*@

</table>
 -->