@model Where2Study.Models.drzava_tekst

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>drzava_tekst</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_drzava)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_drzava)
            @Html.ValidationMessageFor(model => model.id_drzava)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_jezik)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_jezik)
            @Html.ValidationMessageFor(model => model.id_jezik)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.naziv)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.naziv)
            @Html.ValidationMessageFor(model => model.naziv)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.opis)
        </div>
        <div class="text-box.multi-line">
            @Html.TextAreaFor(model => model.opis)
            @Html.ValidationMessageFor(model => model.opis)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
