@model Where2Study.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@Resources.Resources.ManageAccount</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>@Resources.Resources.YoureLoggedInAs <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>@Resources.Resources.AddAnExternalLogin</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
