@model Where2Study.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div id="signupbox" style="margin-top:50px; padding-bottom:3em;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">@Resources.Resources.RegistrationForm</div>
    </div>

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div style="padding: 2em; padding-top:30px" class="panel-body">

            <form id="registerform" class="form-horizontal" role="form">

                <div style="margin-bottom: 2em;" class="row">
                    <label for="username" class="col-md-3 control-label">@Resources.Resources.UserName</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.UserName)
                    </div>
                    <div class="col-md-offset-3">@Html.ValidationMessageFor(m => m.UserName)</div>
                </div>

                <div style="margin-bottom: 2em;" class="row">
                    <label for="password" class="col-md-3 control-label">@Resources.Resources.Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <div class="col-md-offset-3">@Html.ValidationMessageFor(m => m.Password)</div>
                </div>

                <div style="margin-bottom: 2em;" class="row">
                    <label for="ConfirmPassword" class="col-md-3 control-label">@Resources.Resources.ConfirmPassword</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </div>
                    <div class="col-md-offset-3">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                </div>

                    <input type="submit" value="@Resources.Resources.Register" />
                </form>
            </div>

        }
    </div>
</div>